header{
  display: flex;
  align-items: center;
}
.App {
  text-align: center;
}
#header-container{
  width: 250px;
}
#login-btn{
  display: none;
}
.bold {
  font-weight: bold;

}

.h1{
  font-size: 28px;
}
.white{
  color:white;
}
.skyblue{
  color: deepskyblue;

}
.red{
  color:red;
}
.green {
  color: green;
}
.blue{
  color:blue
}
.m1{
  margin: 20px;
}
.p1{
  padding: 20px;
}

.bg-gray {
  background-color: gray;
}

#box-1{
  height: 100px;
  width: 100%;
  background-color: aqua;
}

#box-2{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
}

#box-3{
  height:100px;
  width: 100%;
  background-color: beige;
}

#row-1{
  display:flex;
  flex-direction: column;
  width: 90%;
  margin:auto;
}
#row-2{
  display:flex;
  flex-direction: column;
  width:90%;
  margin: 15px auto;
}

#left{
  width:100%;
  height: 80vh;
  background: blue;
}
#right{
  width:100%;
  height: 80vh;
  background: green;
}

.weather-stat{
  position: relative;
  top:35%;
  font-weight: bold;
}
#box-1{
  font-size:25px;
}
#box-3{
  font-size:25px;
}

#dash-date{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top:30%;
  
}
@media only screen and (min-width: 391px) {
  .hidden{
    display: none;
  }
  header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #login-btn{
    display:block;
    width: 40px;
    height:40px;
    background: black;
    border-radius: 50%;
    margin: 10px;
  }
  #box-1{
    font-size:30px;
  }
  #box-3{
    font-size:30px;
  }
}

@media only screen and (min-width: 501px) {
  #header-container{
    width: 400px;
  }
  #box-1{
    height: 100px;
    width: 10%;
    background-color: aqua;
    font-size:20px;
  }
  
  #box-2{
    width: 80%;
    height: 100px;
    background-color: blueviolet;
  }
  
  #box-3{
    height:100px;
    width: 10%;
    background-color: beige;
    font-size:20px;
  }
  
  #row-1{
    display:flex;
    flex-direction: row;
    width: 90%;
    margin:auto;
  }
  #row-2{
    display:flex;
    width:90%;
    margin: 15px auto;
  }
  
  #left{
    width:50%;
    height: 80vh;
    background: blue;
  }
  #right{
    width:50%;
    height: 80vh;
    background: green;
  }
  #row-2{
    display:flex;
    flex-direction: row;
    width:90%;
    margin: 15px auto;
  }
  
  #left{
    width:100%;
    height: 80vh;
    background: blue;
  }
  #right{
    width:100%;
    height: 80vh;
    background: green;
  }
}

